.container{
     width: 100%;
    text-align: center;
}

.traffic-light{
    border: 3px solid black;
    background: yellow;
    padding: 10px;
    display: inline-block;
    border-radius: 16px;
      
}


.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.red{
    background: red;
    border: 3px solid black;
    margin-bottom: 5px;
}
.yellow{
    background: orange;
    border: 3px solid black;
 margin-bottom: 5px;
}
.green{
    background: green;
    border: 3px solid black;
    margin-bottom: 5px;
}
.glow{
    box-shadow: 10px 10px 5px rgba(81, 59, 59, 0.75);

}
.boton{
    background: blue;
    color: white;
    border-radius: 15px;

}


